*{
    margin: 0;
}

#gridwrapper_home{
display: grid;
height: auto;
width: 100vw;
grid-template-areas: 
"ig ig ig as"
"ar ar ar as"
;
grid-template-rows: minmax(200px, 300px) minmax(1000px, 1fr);
grid-template-columns: minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr) minmax(50px, 120px);
}

.header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}


#article_home{
    grid-area: ar;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 4rem;   
}
#aside_links{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
list-style: none;
height: 90vh;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
p{
    width: 300px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
#home_img{
    grid-area: ig;
    background-color: seagreen;

}

#aside_home{
    grid-area: as;
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    height: 100px;
    background-color: black;
    width: 100vw;
}

/*tralfiske*/

#article_tralfiske{
width: 100vw;
height: auto;
display: flex;
align-items: center;
justify-content: top;
flex-direction: column;
background-color: aquamarine;
}
#img_tralfiske{
    width: 500px;
    height:auto;
    background: blue;
}