* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_color_dark: rgb(88, 169, 196);
}

.logga {
    height: 110px;
    width: auto;
    margin-left: 10px;
}

.header {
    background-color: var(--main_color_dark);
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    align-items: center;
}

#header_links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 80px);
    background-color: lightblue;
    position: fixed;
    left: -1300px;
    top: 80px;
    width: 100%;
    list-style: none;
    transition: 0.5s;
    z-index: 1;
}

.header_active {
    transform: translatex(1300px);
}

#header_links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 400px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.crossed_line #line_2 {
    opacity: 0;
}
.crossed_line #line_3 {
    transform: rotate(45deg) translate(-6px, -6px);
}
#header_links a:hover {
    background-color: rgb(88, 169, 196);
    transition: ease 0.3s;
    font-size: 1.4rem;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    color: var(--main_color_dark);
}

.burger_line {
    width: 30px;
    height: 3.5px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#burger{
    margin-right: 60px;
    cursor: pointer;
}
.footer {
    grid-area: fo;
    background-color: var(--main_color_dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}


/*Home*/
#gridwrapper_home {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas: 
    "ar1 ar1" 
    "ar2 ar2"
    "fo fo";
    grid-template-rows: 1100px 1750px 250px;
    grid-template-columns: 1fr 1fr;
}

#home_img {
    width: 100%;
    height: calc(90vh - 80px);
    margin-bottom: 8vh;
}

#aktuellt{
    grid-area: ar1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.Aktuella_nyheter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 280px;
    width: 280px;
    border-style: solid;
    border-color: var(--main_color_dark);
    border-radius: 3px;
    padding: 2rem;
}
.Aktuellt_img{
    height: auto;
    width: 200px;
}
#kalender{
    grid-area: ar2;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.kalender_article{
    display: flex;
    height: 540px;
    width: 300px;
    background: white;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--main_color_dark);
}
.logga_kalender{
height: 80px;
}
.img_kalender{
    width: 297px;
    height: 100px;
}
.kalender_text_div{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.kalender_p{
    width: auto;
    margin-top: 2px;
}
.button{
    display: flex;
    height: 45px;
    width: 35%;
    background: steelblue;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 1rem;
}
.button:hover{
    cursor: pointer;
    background: rgb(84, 162, 226);
}
.button_link{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underrubrik{
    color: rgb(48, 101, 119);
    font-size: 1.2rem;
}
.h3_footer{
    font-size: 1.3rem;
    color: white;
}
.h2_footer{
    color: white;
    font-size:1.6rem;
    display: none;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    font-size: 1.25rem;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 1rem;
}

p {
    width: 90%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 1rem;
}
.sacrifice{
    height: 80px;
    width: 100%;
}

/*tralfiske*/


#gridwrapper_tralfiske{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "st1 st1"
    "st2 st2"
    "stat stat"
    "st3 st3"
    "fo fo"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 2000px 1000px 1050px 250px;
}
#img_tralfiske {
    height: 190px;
    width: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--main_color_dark);
}
#nordic_flags{
    height: 400px;
    width: auto;
}
#section1_tralfiske{
    grid-area: st1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.tral_article_lb{
display: flex;
flex-direction: column;
align-items: center;
width: 75%;
height: auto;
border-radius: 3px;
border-style: solid;
border-color: var(--main_color_dark);
background: white;
}
.article_parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.article_parent_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.intro_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
}

#section2_tralfiske{
    grid-area: st2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: lightblue;
}
#statistik{
    grid-area: stat;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.statistik_img{
    width: auto;
    height: 230px;
}
#section3_tralfiske{
    grid-area: st3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: lightblue;
}
.tral_h3{
    font-size: 1.4rem;
}


/*försurning*/
#gridwrapper_forsurning {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "arf arf"
    "ark ark"
    "dv dv"
    "sek sek"
    "fo fo"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 1750px 560px 950px 250px;
}

#forsurning_section{
    grid-area: arf;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
#img_forsurning{
    width: 300px;
    height: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--main_color_dark);
    border-style: solid;
}

#konsekvenser_section{
    grid-area: ark;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.article_konsekvenser{
    background-color: white;
    height: 700px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--main_color_dark);
    border-style: solid;
}

#intiativ_section{
    grid-area: dv;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.div_forsurning{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#article_intiativ{
    width: 340px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
#kalk_section{
    grid-area: sek;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: lightblue;
}

.article_kalk{
    width: 350px;
    height: 275px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: var(--main_color_dark);
    border-radius: 3px;
    background: white;
}

/*Om oss*/
#gridwrapper_om_oss{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "re re"
    "org org"
    "fra fra"
    "gift gift"
    "fo fo"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 600px 1150px 930px 250px;
}

#relative{
    grid-area: re;
    background-image: url(../img/vatten.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

#relative_flex{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
}

#organisation_flex_div{
    grid-area: org;
    display: flex;
    background: lightblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.organisation_img{
    width: 320px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--main_color_dark);
}

.organisation_article{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.organisation_article_lb{
    width: 320px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border-color: var(--main_color_dark);
    border-style: solid;
    background: white;
}
#arbete_flex_div{
    grid-area: fra;
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.org_div{
    height: auto;
    margin-bottom: 40px;
}

#gift_div{
grid-area: gift;
background: lightblue;
flex-direction: column;
align-items: center;
justify-content: space-evenly; 
display: flex;
}

#h1_relative{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
  
}

#h3_relative{
    color: white;
    font-size: 1.3rem;
    height: auto;
    width: 400px;
}

@media screen and (min-width:800px) {
    #burger{
        display: none;
    }    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        width: 100%;
        background: var(--main_color_dark);
        margin-right: 20px;
    }

    #header_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        position: fixed;
        left: 240px;
        top: 0px;
        background-color: rgba(255, 255, 255, 0);
        width: 80%;
        list-style: none;
    }
    .header_active {
        transform: translatex(0px);
    }
    .logga {
        height: 130px;
        width: auto;
        margin-left: 10px;
    }
    .Aktuella_nyheter {
        height: 300px;
        width: 300px;
    }
    
    .box_parent{
        flex-direction: row;
        width: 100%;
    }
    #relative_flex{
        width: 35%;
    }
    .organisation_img{
        width: 500px;
        margin-bottom: 0px;
        margin-right: 20px;
        border-radius: 3px;
    }
    #organisation_flex_div{
        flex-direction: row; 
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    #arbete_flex_div{
        justify-content: space-evenly; 
    }
    
    .org_div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #gift_div{
        flex-direction: row-reverse;
    }
    .div_forsurning{
        flex-direction: row;
        width: 100%;
    }
    #div_utslapp{
        width: 70%;
    }
    #article_intiativ{
        width: 400px;
    }
    .tral_article_lb{
        width: 430px;
    }
    .article_parent{
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
    }
    .article_parent_intro{
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }
    #gridwrapper_tralfiske{
        grid-template-rows: 500px 1500px 430px 480px 210px;
    }
    #gridwrapper_forsurning{
        grid-template-rows: 500px 1000px 550px 500px 210px;
    }
    #statistik{
        flex-direction: row;
    }
    #img_forsurning{
        width: 400px;
    }
    #gridwrapper_om_oss{
        grid-template-rows: 400px 600px 1050px 430px 210px;
    }
    #img_tralfiske {
        height: 350px;
        width: 450px;
    }
    #gridwrapper_home{
        grid-template-rows: 600px 700px 210px;
    }
    #home_img {
        height: calc(100vh - 80px);
        margin-bottom: 10px;
    }
    #gift_img{
        display: none;
    }
    #fiskebestand_flex{
        flex-direction: row-reverse;
        width: 80%;
        border: 3px;
        border-style: solid;
        border-color: white;
    }
    #article_parent_tralfiske{
        width: 80%;
        border: 3px;
        border-style: solid;
        border-color: white;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #article_parent_koldioxid{
        width: 80%;
        border: 3px;
        border-style: solid;
        border-color: white;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #article_parent_losning{
        width: 90%;
    }
    #article_parent_forsurning{
        width: 100%;
    }
    .article_konsekvenser{
        width: 450px;
        height: 700px;
    }
    #nordic_flags{
        display: none;
    }
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .h2_footer{
        display: contents;
    }
    #header_links a{
        width: 200px;
    }
    .intro_article{
        width: 400px;
    }
    p{
        width: 70%;
    }
    .organisation_article{
        width: 400px;
    }
    .organisation_article_lb{
        width: 340px;
        height: auto;
    }
}