* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_color_dark: rgb(88, 169, 196);
}

.logga {
    height: 90px;
    width: auto;
    margin-left: 10px;
}

#gridwrapper_home {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas: "ar1 ar1" "ar2 ar2" "fo fo";
    grid-template-rows: 500px 500px 100px;
    grid-template-columns: minmax(80px, 1fr) minmax(80px, 1fr);
}

.header {
    background-color: var(--main_color_dark);
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    align-items: center;
}

#header_links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 80px);
    background-color: lightblue;
    position: fixed;
    left: -1300px;
    top: 80px;
    width: 100%;
    list-style: none;
    transition: 0.5s;
}

.header_active {
    transform: translatex(1300px);
}

#header_links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.crossed_line #line_2 {
    opacity: 0;
}
.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
#header_links a:hover {
    color: darkgrey;
    background-color: rgb(88, 169, 196);
    transition: ease 0.4s;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    color: var(--main_color_dark);
}

.burger_line {
    width: 30px;
    height: 3.5px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#burger{
    margin-right: 60px;
    cursor: pointer;
}

#home_img {
    width: 100%;
    height: 600px;

}

#aktuellt{
grid-area: ar1;
display: flex;
flex-direction: column;
align-items: center;
}

.Aktuella_nyheter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    height: 120px;
    width: 200px;
    border-style: solid;
    border-color: var(--main_color_dark);
    border-radius: 3px;
}

#box_parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#presentation_home {
    grid-area: ar2;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding: 4rem;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

p {
    width: 300px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.footer {
    grid-area: fo;
    background-color: var(--main_color_dark);
    display: flex;
}


/*tralfiske*/
#top_tralfiske{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article_tralfiske {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background-color: aquamarine;
}

#img_tralfiske {
    width: 500px;
    height: auto;
    background: blue;
}


/*försurning*/
#gridwrapper_forsurning {
    top: 80px;
    display: grid;
    width: 100%;
    height: auto;
    position: absolute;
    grid-template-areas: 
    "arf arf arf"
    "ark ark ark"
    "dv dv dv"
    "fof fof fof"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 500px 400px 100px;
}

#forsurning_section{
    grid-area: arf;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
#article_forsurning{
    background-color: white;
    height: 600px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#konsekvenser_section{
    grid-area: ark;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

#article_konsekvenser{
    background-color: white;
    height: 400px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#Intiativ_section{
    grid-area: dv;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#div_forsurning{
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.article_div{
    height: 250px;
    width: 140px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--main_color_dark);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    size: 1rem;
}

#footer_forsurning {
    grid-area: fof;
    background-color: var(--main_color_dark);
    display: flex;
}

@media screen and (min-width:800px) {
    #burger{
        display: none;
    }    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        width: 100%;
        background: var(--main_color_dark);
        margin-right: 20px;
    }

    #header_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        position: fixed;
        left: 240px;
        top: 0px;
        background-color: rgba(255, 255, 255, 0);
        width: 80%;
        list-style: none;
    }
    .header_active {
        transform: translatex(0px);
    }
    .logga {
        height: 130px;
        width: auto;
        margin-left: 10px;
    }
    .Aktuella_nyheter {
        padding: 2rem;
        height: 240px;
        width: 300px;
        border-style: solid;
        border-color: var(--main_color_dark);
        border-radius: 3px;
    }
    
    #box_parent{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
}